*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: ProductScans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}
#Heading{
    font-family: ProductScans;
    font-size: 100px;
    text-align: center;
    color: purple;
}

#image_gallery_container{
    margin-top: 34%;
    margin-left: 27%;
    cursor: pointer;
}

.image_containers{
    height: 150px;
    width: 230px;
    border-radius: 20px;
    margin-left: -110px;
    transition: transform 1.5s;
    transform: skew(-25deg);

}

#mount_himalayas_image:hover{
    transform: skew(0deg) scale(2.5) translate(132px,-135px) rotateY(360deg);
}
#beach_image:hover{
    transform: skew(0deg) scale(2.5) translate(82px,-135px) rotateY(360deg);
}
#parachute_image:hover{
    transform: skew(0deg) scale(2.5) translate(32px,-135px) rotateY(360deg);
}
#rainbow_image:hover{
    transform: skew(0deg) scale(2.5) translate(-18px,-135px) rotateY(360deg);
}
#sunrise_image:hover{
    transform: skew(0deg) scale(2.5) translate(-68px,-135px) rotateY(360deg);
}
#tortoise_image:hover{
    transform: skew(0deg) scale(2.5) translate(-118px,-135px) rotateY(360deg);
}