*{
    margin: none;
    outline: none;
    font-family: ProductScans;
}
@font-face {
    font-family: ProductScans;
    src: url(../../../assets/fonts/ProductSansRegular.ttf);
}

.input_boxes{
    font-size: 30px;
    margin: 20px;
    outline: none;
    border: none;
    border-bottom: 3px solid darkblue;
    color: darkblue;
}
.input_boxes::placeholder{
    color: darkblue;
}

.course_heading{
    font-size: 50px;
    color: darkblue;
    cursor: pointer;
}

#sql_heading:hover::after{
    color: red;
    content: "Language";
}

#web_development_heading:hover::before{
    color: red;
    content: "Web";
}

#web_development_paragraph{
    font-size: 30px;
}

#web_development_paragraph::first-letter{
    font-size: 50px;
    color: red;
}

#web_development_paragraph::first-line{
    color: darkblue;
}

#web_development_paragraph::selection,#web_development_heading::selection{
    color: greenyellow;
    background-color: gray;
}

#fullstack_list_heading,#snacks_list_heading{
    font-size: 50px;
}
#fullstack_list,#fullstack_list_items,#snacks_list{
    font-size: 30px;
}
#fullstack_list{
    list-style-type: upper-roman;
}
#fullstack_list::marker{
    color: red;
}

.java_fullstack_list_items{
    list-style-type: upper-alpha;
}
.java_fullstack_list_items::marker{
    color: darkblue;
}
#popcorn_snacks_item::marker{
    content: "🍿";
}
#pizza_snacks_item::marker{
    content: "🍕";
}
#burger_snacks_item::marker{
    content: "🍔";
}
#french_fries_snacks_item::marker{
    content: "🍟";
}
#beer_mug_snacks_item::marker{
    content: "🍻";
}

/* space scrollbar */
/* body::-webkit-scrollbar{
    width: 50px;
    background-image: url(../../../assets/images/SpaceStars.png);
    background-size: 25%;
}
body::-webkit-scrollbar-thumb{
    background-image: url(../../../assets/images/Rocket.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar-button{
    height: 50px;
    background-image: url(../../../assets/images/Earth.png);
    background-size: 100%;
}

body::-webkit-scrollbar-button:active{
    background-image: url(../../../assets/images/Sun.PNG);
    background-size: 120%;
    background-position: center;
} */

/* professional scrollbar */
body::-webkit-scrollbar{
    width: 15px;
    background-color: lightgray;
}

body::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 50px;
    cursor: pointer;
}
body::-webkit-scrollbar-button{
    height: 15px;
    background-color: black;
    border-radius: 50%;
}

body::-webkit-scrollbar-button:active{
    background-color: orange;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(60,60,60);
}

/* Slider */

#slider_input_field{
    width: 15%;
    -webkit-appearance: none;
}

#slider_input_field::-webkit-slider-runnable-track{
    height: 30px;
    background-color: darkblue;
    -webkit-appearance:none;
    border-radius: 50px;
}

#slider_input_field::-webkit-slider-thumb{
    width: 30px;
    height: 100%;
    background-color: white;
    -webkit-appearance: none;
    border-radius: 50%;
    cursor: pointer;
}

#slider_input_field::-webkit-slider-thumb:hover{
    background-color: red;
}

/* file uploader */
#file_uploader{
    font-size: 35px;
    color: darkblue;
}

#files_uploader::-webkit-file-upload-button{
    color: white;
    background-color: black;
    outline: none;
    border: none;
    padding: 0.5% 2%;
    font-size: 45px;
    border-radius: 15px;
    cursor: pointer;
}
#hfile_uploader::-webkit-file-upload-button:active{
    color: orange;
}