*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 825px;
}

#red_color_block{
    width: 15%;
    height: 26%;
    background-color: red;
    position: relative;
    top: 38%;
    left: 42%;
    cursor: pointer;
}

#red_color_block:hover{
    animation-name: toAnimateRedColorBlock;
    animation-duration: 1500ms;
    animation-delay: 2000ms;
    animation-fill-mode: both;
    animation-play-state: running;
}

/* animation logics */
@keyframes toAnimateRedColorBlock {
    /* first frame */
    from{
        background-color: black;
    }
    /* second frame */
    50%{
        transform: rotate(90deg);
        background-color: greenyellow;
        border-radius: 50%;
    }
    /* third frame */
    to{
        transform: rotate(270deg);
        background-color: gray;
    }
    
}
