*{
    padding: 0px;
    margin: 0px;

}
body{
    width: 100%;
    height: 820px;
}
#container{
    width: 600px;
    height: 600px;
    background-position: center;
    background-image: url(../../../assets/images/Moon.png),
                      url(../../../assets/images/SpaceStars.png);

    background-size: 50%,100%;
    background-repeat: no-repeat,repeat;
    border-radius: 100px;
    cursor: pointer;
    margin: 350px auto;
    transition: all 350ms;
}

#container:hover{
    background-image: url(../../../assets/images/Sun.PNG),
                      url(../../../assets/images/Sky.png);
    background-size: 85%,100%;
    background-repeat: no-repeat,repeat;
    border: 100px;

                
}
