*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#red_block{
    width: 200px;
    height: 200px;
    background-color: red;
    /* relative will make the element to be positioned from its static position */
    position: relative;
    /* offset properties */
    top: 20px;
    left: 20px;
}

#darkblue_block{
    width: 400px;
    height: 400px;
    background-color: darkblue;
    position: relative;
}

#yellow_block{
    width: 50%;
    height: 50%;
    background-color: yellow;
    /* absolute will make the element to nbe positioned from its parent position */
    position: absolute;
    /* offset properties */
    top: 25%;
    left: 25%;
}