.color_containers{
    width: 200px;
    height: 200px;
}
#color_container{
    /* color name */
    background-color: teal;
    /* rgb color value */
    background-color: rgb(0,128,128);
    /* rgb color value with alpha value */
    background-color: rgba(0, 128, 128, 0.9);
    /* hexadecimal color value */
    background-color: #008080;
    /* hexadecimal color value with alpha value */
    background-color: #00808080;
    /* hsl color value */
    background-color: hsl(0deg, 100%, 95%);
    /* hsl color value with alpha value */
    background-color: hsla(0deg, 100%, 95%,0.8);

}
#black_color_container{
    background-color: #000000;
}

