@font-face {
    font-family: ProductScans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}
.headings{
    width: fit-content;
    font-size: 120px;
    font-family: ProductScans;
    background-clip: text;
    color: transparent;
}

#instagram_headiong{
    background-image: linear-gradient( to right,darkblue,magenta,red,orange);
}
#earth_heading{
    background-image: url(../../assets/images/Earth.png);
    background-size: 100%;
    background-position: center;
}